        #slide-window
            
            ol#slides(start='1')
                li.slide.color-0.alive(style="background-image:url('image/Phone-Rack_v2.png');")
                li.slide.color-1(style="background-image:url('image/Phone-Rack_v2.png');")
            span#left.nav.fa.fa-chevron-left.fa-3x
            span#right.nav.fa.fa-chevron-right.fa-3x